pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
defusedxml
pypdf
bs4
arxiv
PyMuPDF
wikipedia
langchain_huggingface
faiss-cpu
langchain_google_genai
pinecone
langchain_pinecone
langchain-mongodb
pymongo
weaviate-client
langchain_weaviate
wikipedia
youtube_search
langgraph